@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao AppWeb do Projeto no git</h1>
    <p> Esse projeto está hospedado em: https://gitlab.ic.unicamp.br/msft/appweb.git </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
